@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #9ce4ff;
    background-position: fixed;
    background: linear-gradient(
        27deg,
        rgba(156, 228, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.gradient-text {
    background: linear-gradient(
        90deg,
        rgb(83, 209, 255) 0%,
        rgb(178, 234, 255) 50%,
        rgb(215, 245, 255) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-btn {
    @apply px-4 py-2 bg-[#9ce4ff] text-white font-semibold rounded-lg shadow-md hover:bg-[#83bfd5] focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 text-[1rem] transition duration-300;
}
